openapi: 3.0.2
info:
  version: 1.0.0
  title: Business Travel Alerts API
  termsOfService: 'https://alert.starliner.ru'
  contact:
    email: info@starliner.ru
    url: 'https://alert.starliner.ru'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://alert.starliner.ru/themes/Coronavirus/assets/images/logos/logo-192.png'
  description: >
    Business Travel Alerts API
tags:
  - name: Airports
    description: Сервисы API по аэропортам
  - name: Country
    description: Сервисы API по странам
components:
  schemas:
    Airport:
      $ref: components/schemas/Airport.yaml
    News:
      $ref: components/schemas/News.yaml
    Category:
      $ref: components/schemas/Category.yaml
    Country:
      $ref: components/schemas/Country.yaml
servers:
  - url: 'https://alert.starliner.ru/api/v1'
    description: Production server
  - url: 'https://alert-test.starliner.ru/api/v1'
    description: Staging server
paths:
  /geography/airports/{iataCode}:
    get:
      tags:
        - Airports
      summary: Получение информации об аэропорте
      description: Этот метод предоставляет возможность получить информацию об аэропорте по его IATA-коду
      operationId: getAirportByIataCode
      parameters:
        - name: iataCode
          in: path
          description: IATA code
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Информация об аэропорте
          content:
            applicatino/json:
              schema:
                $ref: '../components/schemas/Airport.yaml'
        '404':
          description: Аэропорт не найден
          content:
            applicatino/json:
              schema:
                $ref: ../components/schemas/default_response.yaml
  /geography/airports/{iataCode}/news:
    $ref: paths/airportNewsByIataCode.yaml
  /geography/country/{id}:
    $ref: paths/country.yaml
  /geography/country/{id}/news:
    $ref: paths/countryNews.yaml